<app-accordion [data]="data_A" [bgColor]="'red'" [color]="'green'"></app-accordion>

<app-accordion [data]="data_B" [bgColor]="'blue'" [color]="'white'"></app-accordion>

<app-accordion [data]="data_C" [bgColor]="'green'" [color]="'cyan'"></app-accordion>

<app-accordion [data]="data_D" [bgColor]="'yellow'" [color]="'rgb(22,225,8)'"></app-accordion>