.holder {
    position: relative;
    width: 100%;
    height: 70px;
    border: 1px solid red;
    overflow: hidden;
}

.top-panel {
    position: relative;
    height: 70px;
    width: 100%;
    /* left: 20px; */
    background-color: rgb(182, 136, 224);
}

.left-text {
    position: relative;
    width: 20%;
    height: 30px;
    min-width: 200px;
    top: 25px;
    float: left;
    font-size: 20px;
    color: white;
    padding-left: 20px;
}

.center-text {
    position: relative;
    width: 40%;
    height: 30px;
    min-width: 300px;
    top: 25px;
    float: left;
    font-size: 20px;
    color: black;
}

.arrow-down {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 20px;
    background-image: url(/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.arrow-up {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 20px;
    background-image: url(/assets/images/arrow-up.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.text {
    position: relative;
    width: 50%;
    height: 300px;
    min-width: 600px;
    top: 0px;
    font-size: 25px;
    padding: 10px;
    margin: 0 auto;
    /* transform: translateX(-50%) translateY(-50%); */
    /* border: 1px solid red; */
}

.open {
    -webkit-animation-name: open;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: open;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes open {
    from {
        height: 70px;
    }
    to {
        height: 500px;
    }
}


/* Standard syntax */

@keyframes open {
    from {
        height: 70px;
    }
    to {
        height: 500px;
    }
}

.close {
    -webkit-animation-name: close;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: close;
    animation-duration: 2s;
    animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes close {
    from {
        height: 500px;
    }
    to {
        height: 70px;
    }
}


/* Standard syntax */

@keyframes close {
    from {
        height: 500px;
    }
    to {
        height: 70px;
    }
}