<div class="holder" [class.open]="openIt" [class.close]="closeIt">
    <div class="top-panel" [ngStyle]="{'background-color': bgColor}">
        <div class="left-text" [ngStyle]="{'color': color}">{{data.title}}</div>
        <div class="center-text">{{data.heading}}</div>

        <div *ngIf="buttonOpen" class="arrow-down" (click)="open()"></div>
        <div *ngIf="buttonClose" class="arrow-up" (click)="close()"></div>
    </div>
    <div class="text">{{data.content}}</div>
</div>